<% if @band.persisted? %>
  <form action="<%= band_url(@band) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
<% else %>
  <form action="<%= bands_url %>" method="POST">
<% end %>
    <%= auth_token %>
    <label for="band_name">Band Name</label>
    <input
      id="band_name"
      name="band[name]"
      type="text"
      value="<%= @band.name %>">
    <br>

    <input type="submit" value="Submit Band!">
  </form>